<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
        color: rgb(42, 42, 42);
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 0rem;
      }
      h2 {
        font-weight: 400;
        font-size: 1.1rem;
      }
      b {
        font-weight: 500;
      }
      ul {
        line-height: 2.5rem;
      }
      p {
        line-height: 2.1rem;
      }
      a {
        text-decoration: none;
        color: rgb(106, 106, 255);
      }
    </style>
  </head>
  <body>
    <h2>Dear <b>{{name}}</b>,</h2>
    <p>
      Thank you for <b>{{cat}}</b> We
      are honored to welcome you to our
      <b>Five Star Estate Liquidations</b> company!
    </p>
    <p>
      At Five Star Estate Liquidations, we are dedicated to providing
      unparalleled excellence and exceptional service. We pride ourselves on
      delivering the highest level of quality and professionalism in everything
      we do.
    </p>
    <div>
      <p>
        By joining our community, you can expect to receive exclusive updates
        and valuable insights. Here's what you can look forward to:
      </p>
      <ul>
        <li>Access to insider knowledge and expert advice.</li>
        <li>Exciting announcements and company news.</li>
        <li>Special offers, promotions, and VIP discounts.</li>
        <li>Invitations to exclusive events and experiences.</li>
      </ul>
    </div>
    <p>
      We highly value your interest and support. If you ever have any questions,
      suggestions, or feedback, please do not hesitate to reach out to us at
      info@5starestateliquidations.com. We are here to serve you!
    </p>
    <p>
      Once again, welcome to our prestigious five-star company! We are thrilled
      to have you on board and are committed to exceeding your expectations.
    </p>
    <div>
      <span>Best regards,</span><br />
      <a href="http://5starestateliquidations.com/"
         target="_blank"><b>Five Star Estate Liquidations</b></a
      >
    </div>
  </body>
</html>
