.contactPreview{
    padding: 3rem 5rem;
    flex-grow: 1;
    color: #5a5a5a;
    
}

/*Contact preview top */
.contactPreviewTop{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}