.ownerCart{
    background-color: #99aefc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.3rem;
    overflow: hidden;
    align-items: center;
    padding: 2rem;
}
.ownerCart > h1{
    color: white;
    font-weight: 500;
}
.ownerCart > p{
    font-size: 0.8rem;
    color: #e0e0e0;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: center;
}
.ownerPhoto{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b7c6fd;
}
.ownerPhoto > img{
    width: 70%;
    object-fit: cover;
    
}