.adminContact{
    flex-grow: 1;
    padding: 1rem 5rem;
}
.adminContactHeading{
    display: flex;
    justify-content: space-between;
}
.adminContactHeading > span{
    font-size: 1.3rem;
}

/* table */
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
    margin-top: 2rem;
}
th{
    font-weight: 500;
}
td{
    font-size: 1rem;
    color: #2a2a2a;
}
th, td{
    text-align: left;
    /* font-size: 1.2rem; */
    border: 0;
    padding: 1rem;
}
table tr:nth-child(even){
    background-color: rgb(240, 240, 240);
}
.icon{
    fill: #767575;
}
.icon:hover{
    fill: #4f4f4f;
    cursor: pointer;
    transition: all ease .15s;
}
.icon:last-child{
    fill: rgb(253, 92, 92);
    cursor: pointer;
    transition: all ease .15s;
}
.icon:last-child:hover{
    fill: rgb(253, 61, 61);
}
.iconsList{
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
}


/* =======================responsive=========================== */
@media only screen and (max-width: 1300px) {
    .adminContactBody > table > tr > th:nth-child(4){
        display: none;
    }
    .adminContactBody > table > tr > td:nth-child(4){
        display: none;
    }
  }

  @media only screen and (max-width: 1000px) {
    .adminContactBody > table > tr > th:nth-child(5){
        display: none;
    }
    .adminContactBody > table > tr > td:nth-child(5){
        display: none;
    }
    
    .adminContactBody > table > tr > th, td {
        font-size: 0.8rem;
    }
    .iconsList > .icon {
        width: 0.9rem;
    }

    
  }